<div class="container mt-5">
    <h2 class="text-center">Painel de Administração</h2>
    <p class="text-center">Bem-vindo ao Painel de Administração! Aqui pode gerir vários aspetos da aplicação.</p>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Gerir Utilizadores</h5>
                    <p class="card-text">Ver e gerir utilizadores no sistema.</p>
                    <a asp-action="Index" asp-controller="Users" class="btn btn-primary">Ir para Utilizadores</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Gerir Funções</h5>
                    <p class="card-text">Gerir funções e permissões.</p>
                    <a asp-action="Index" asp-controller="Roles" class="btn btn-primary">Ir para Funções</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Gerir Pokémon</h5>
                    <p class="card-text">Adicionar, editar e remover Pokémon do sistema.</p>
                    <a asp-action="Index" asp-controller="Pokemons" class="btn btn-primary">Ir para Pokémon</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Gerir Pacotes</h5>
                    <p class="card-text">Adicionar, editar e remover pacotes de cartas do sistema.</p>
                    <a asp-action="Index" asp-controller="Packs" class="btn btn-primary">Ir para Pacotes</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Gerir Regiões</h5>
                    <p class="card-text">Adicionar, editar e gerir regiões de Pokémon.</p>
                    <a asp-action="Index" asp-controller="Regions" class="btn btn-primary">Ir para Regiões</a>
                </div>
            </div>
        </div>
    </div>
</div>
