@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-md-8 text-center">
            <h1>Realizado por:</h1>
            <p>Nome: Telmo Alexandre da Conceição Maiato Gonçalves</p>
            <p>Número: 22914</p>
            <p>Ano: 2024</p>
            <p>Projeto MVC Dev Web</p>

            <hr />

            <h2>Bibliotecas e Frameworks Utilizados:</h2>
            <ul class="list-unstyled">
                <li>ASP.NET Core MVC</li>
                <li>Entity Framework Core</li>
                <li>LINQ</li>
                <li>Bootstrap</li>
                <li>jQuery</li>
                <li>Identity Framework</li>
                <li>SQL Server</li>
                <li>AutoMapper</li>
            </ul>
        </div>
    </div>
</div>
