@model Microsoft.AspNetCore.Identity.IdentityRole

<h2>Editar Função</h2>

<form asp-action="Edit">
    <div class="form-group">
        <label for="RoleName">Nome da Função</label>
        <input asp-for="Name" id="RoleName" class="form-control" />
        <input type="hidden" asp-for="Id" />
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
