@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h2>Lista de Funções</h2>

<table class="table">
    <thead>
        <tr>
            <th>Nome da Função</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    <a asp-action="Details" asp-route-id="@role.Id" class="btn btn-info">Detalhes</a>
                    <a asp-action="Edit" asp-route-id="@role.Id" class="btn btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@role.Id" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Criar Nova Função</a>
